<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="fas fa-user-cog"></i>
                <span>
                    CarBook Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li><a href="#" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>

                <li><a href="#" class="waves-effect"><i class="fas fa-chart-pie"></i><span>Statics</span></a></li>

                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-external-link-alt"></i><span>Go To WebSite</span></a></li>

                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>Cars</span></a></li>

                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fab fa-whmcs"></i><span>Car Features</span></a></li>

                <li><a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-industry"></i><span>Brands</span></a> </li>

                <li><a href="/Admin/AdminBanner/Index/" class="waves-effect"><i class="feather-image"></i><span>Banners</span></a></li>

                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info-circle"></i><span>About</span></a></li>

                <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-pen-fancy"></i><span>Author Settings</span></a></li>

                <li><a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fab fa-blackberry"></i><span>Blog Categories</span></a></li>

                <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fab fa-blogger"></i><span>Blog Settings</span></a></li>

                <li><a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="fas fa-money-bill"></i><span>Pricing List</span></a></li>

                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-comment-alt"></i><span>Comments</span></a></li>

                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="dripicons-phone"></i><span>Contacts</span></a></li>

                <li><a href="/Admin/AdminFooterAddress/Index/" class="waves-effect"><i class="feather-map"></i><span>FooterAdresses</span></a></li>

                <li><a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="feather-map-pin"></i><span>Locations</span></a></li>

                <li><a href="/Admin/AdminService/Index/" class="waves-effect"><i class="fas fa-hands-helping"></i><span>Services</span></a></li>

                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fab fa-facebook"></i><span>Social Media</span></a></li>

                <li><a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="fas fa-users"></i><span>Testimonials</span></a></li>

                <li><a href="/Admin/AdminTagCloud/Index/" class="waves-effect"><i class="fas fa-hashtag"></i><span>Tag Clouds</span></a></li>

                <li><a href="/Admin/AdminSetting/Index/" class="waves-effect"><i class="mdi mdi-settings-outline"></i><span>Settings</span></a></li>

                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="mdi mdi-logout"></i><span>Log Out</span></a></li>

                

 

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>