@model List<ResultAuthorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Author List</h4>
                        <p class="card-subtitle mb-4">
                            Create, Delete, Update, Search and for List
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Author Name</th>
                                        <th>Delete</th>
                                        <th>Update</th>
                                        <th>Blogs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td><img src="@item.ImageUrl" class="rounded-circle" width="50" height="50" style="margin-right:10px" /> @item.Name</td>
                                            <td><a href="/Admin/AdminAuthor/DeleteAuthor/@item.AuthorId" class="btn btn-outline-danger">Delete</a></td>
                                            <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorId" class="btn btn-outline-success">Update</a></td>
                                            <td><a href="/Admin/AdminAuthor/UpdateAuthor/@item.AuthorId" class="btn btn-outline-dark">Blogs</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminAuthor/CreateAuthor/" class="btn btn-outline-primary">Create New Author</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div> <!-- container-fluid -->
</div>

