@model UpdateAboutDto


@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Update About</h4>
                        <p class="card-subtitle mb-4">**Fill the all blanks**</p>

                        <form method="post">
                            <input type="hidden" asp-for="aboutId" />
                            <div class="form-group">
                                <label for="exampleInputTitle">About Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="title" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">About Description</label>
                                <textarea rows="5" class="form-control" asp-for="description" placeholder="Description"> </textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Image Url</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="imageUrl" placeholder="Image Url">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Update About</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

